// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

 &__logo {
   padding: $spacer-lg;
   max-width: 300px;
 }

 &__list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 &__list__item {
   padding: $spacer-m;
 }

}

.main {
  padding: $spacer-m;

  &__section {
    margin: $reset-0 $reset-0 $spacer-xxl;

    &--index {

    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  background-color: $green;
  height: 50px;
  text-align: center;
  position: sticky;
}
