// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1, h2, h3, h4, h5, h6 {
  @include font-type($primary-font, normal, normal);
  color: $black;
}

h1 {
  font-size: 36px;
  padding-bottom: $spacer-s;
}

h2 {
  font-size: 30px;
  padding:$spacer-s 0;
}

h3 {
  font-size: 26px;
  padding:$spacer-s 0;
}

h4 {
  font-size: 22px;
  padding:$spacer-s 0;
}

h5 {
  font-size: 20px;
  padding:$spacer-s 0;
}

h6 {
  font-size: 16px;
  padding:$spacer-s 0;
}

p {
  @include font-type($secondary-font, normal, normal);
  padding: $spacer-xs 0;
  font-size: 16px;
}

ol {
  list-style-type: decimal;
  padding: 0 $spacer-lg;
}

li {
  @include font-type($secondary-font, normal, normal);
}

a {

}

.header__list__item {
  @include font-type($primary-font, normal, normal);
  font-size: 16px;

  a {
    text-decoration: none;
    color: $green;

    &:hover {
      color: darken($green, 10%);
      transition: .2s;
    }
  }
}
